<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ki-Kothai - Home</title>
  <link rel="shortcut icon" href="./assets/img/logo - favicon.png" type="image/x-icon">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- font-awesome css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <!-- custom css -->
  <link rel="stylesheet" href="./assets/css/style.css">
  <!-- google-font css -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,800|Roboto:400,500,700&display=swap" rel="stylesheet">
</head>
<body>

  <!-- navbar start -->
  <section class="navigation-home fixed-top">
    <div class="nav-container">
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="./index.html">
          <img src="./assets/img/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./offer.html">Offers <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./all-restaurant.html">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./all-food.html">Foods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./all-places.html">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about-us.html">About us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <!-- navbar end -->
 
  <!-- hero start -->
  <section class="hero-home">
    <div class="hero-container">
      <h1>Find your nearby<br>restaurant or food<br>with best offer !</h1>
      <div class="search-box">
        <input id="placeholder-text-change" type="text" name="" id="" placeholder="Search foods, restaurants or places" autofocus>
        <button>Search here</button>
      </div>
    </div>
    <div class="social-icon">
      <ul>
        <li>
            <a href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
          </i>
        </li>
        <li>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </i>
        </li>
        <li>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </i>
        </li>
      </ul>
    </div>
  </section>
  <!-- hero end -->

  <!-- popular restaurant start -->
  <section class="popular-res-home">
    <div class="popular-res-full">
      <h1 class="headline">Popular Restaurants</h1>
      <div class="popular-res-container">

        <div class="row">
          <div class="col-sm-6 item-each">
            <a href="./single-restaurant.html">
              <img class="img-fluid" src="./assets/img/food-img1.png" alt="">
              <div class="title">
                <div class="title-left">
                  <h4>Grandiose Restaurant</h4>
                </div>
                <div class="title-right">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>Dhanmondi</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 item-each">
            <a href="./single-restaurant.html">
              <img class="img-fluid" src="./assets/img/food-img-2.jpg" alt="">
              <div class="title">
                <div class="title-left">
                  <h4>Grandiose Restaurant</h4>
                </div>
                <div class="title-right">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>Dhanmondi</span>
                </div>
              </div>
            </a>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6 item-each">
            <a href="./single-restaurant.html">
              <img class="img-fluid" src="./assets/img/food-img-2.jpg" alt="">
              <div class="title">
                <div class="title-left">
                  <h4>Grandiose Restaurant</h4>
                </div>
                <div class="title-right">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>Dhanmondi</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 item-each">
            <a href="./single-restaurant.html">
              <img class="img-fluid" src="./assets/img/food-img1.png" alt="">
              <div class="title">
                <div class="title-left">
                  <h4>Grandiose Restaurant</h4>
                </div>
                <div class="title-right">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>Dhanmondi</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="see-more-btn">See more</button>
    </div>
  </section>
  <!-- popular restaurant end -->

  <!-- popular food start -->
  <section class="popular-food-home">
    <div class="popular-food-full">
      <h1 class="headline">Popular Foods</h1>
      <div class="popular-food-container">

        <div class="row">
          <div class="col-sm-4 item-each">
            <a href="./single-food.html">
              <img class="img-fluid" src="./assets/img/food-img-3.jpg" alt="">
              <div class="title">
                <h5 class="name">Sushi with salad</h5>
                <p class="price">BDT 290</p>
                <div class="review-icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p class="res-avl">Available on <span>Grandiose restaurant</span></p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 item-each">
            <a href="./single-food.html">
              <img class="img-fluid" src="./assets/img/food-img-4.jpg" alt="">
              <div class="title">
                <h5 class="name">Sushi with salad</h5>
                <p class="price">BDT 290</p>
                <div class="review-icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p class="res-avl">Available on <span>Grandiose restaurant</span></p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 item-each">
            <a href="./single-food.html">
              <img class="img-fluid" src="./assets/img/food-img-3.jpg" alt="">
              <div class="title">
                <h5 class="name">Sushi with salad</h5>
                <p class="price">BDT 290</p>
                <div class="review-icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p class="res-avl">Available on <span>Grandiose restaurant</span></p>
              </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 item-each">
            <a href="./single-food.html">
              <img class="img-fluid" src="./assets/img/food-img-3.jpg" alt="">
              <div class="title">
                <h5 class="name">Sushi with salad</h5>
                <p class="price">BDT 290</p>
                <div class="review-icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p class="res-avl">Available on <span>Grandiose restaurant</span></p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 item-each">
            <a href="./single-food.html">
              <img class="img-fluid" src="./assets/img/food-img-4.jpg" alt="">
              <div class="title">
                <h5 class="name">Sushi with salad</h5>
                <p class="price">BDT 290</p>
                <div class="review-icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p class="res-avl">Available on <span>Grandiose restaurant</span></p>
              </div>
            </a>
          </div>
          <div class="col-sm-4 item-each">
            <a href="./single-food.html">
              <img class="img-fluid" src="./assets/img/food-img-3.jpg" alt="">
              <div class="title">
                <h5 class="name">Sushi with salad</h5>
                <p class="price">BDT 290</p>
                <div class="review-icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p class="res-avl">Available on <span>Grandiose restaurant</span></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="see-more-btn">See more</button>
    </div>
  </section>
  <!-- popular food end -->
  
  <!-- footer start -->
  <section class="footer">
    <div class="footer-container">
      <div class="row">
        <div class="col-sm-4 footer-each">
          <h5>Know Us</h5>
          <ul class="un-list">
            <li class=""> <a href="./about-us.html">About Us</a> </li>
            <li class=""> <a href="./terms-condition.html">Terms & Conditions</a> </li>
            <li class=""> <a href="./team-members.html">Team Members</a> </li>
          </ul>
        </div>
        <div class="col-sm-4 footer-each">
          <h5>Contact Us</h5>
          <ul class="un-list">
            <li class=""> Phone: 01804001100 </li>
            <li class=""> Email: mailname@gmail.com </li>
          </ul>
        </div>
        <div class="col-sm-4 footer-each">
          <h5>For Restaurant Owner</h5>
          <ul class="un-list">
            <li class=""> <a href="./res-admin-login.html">My Account</a> </li>
            <li class=""> <a href="./get-new-account.html">Get New Account</a> </li>
          </ul>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-6">
          <div class="social-icon">
            <a href=""> <i class="fab fa-facebook-square"></i> </a>
            <a href=""> <i class="fab fa-twitter"></i> </a>
            <a href=""> <i class="fab fa-instagram"></i> </a>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <p>&copy; 2020 Foods-Khujun, All rights Reserved</p>
        </div>
      </div>

    </div>
  </section>
  <!-- footer end -->

  <!-- arrow up start -->
  <div>
    <i id="arrowUp" onclick="topFunction()" class="far fa-arrow-alt-circle-up"></i>
  </div>
  <!-- arrow up end -->


  <!-- js for bootstrap -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- custom js -->
  <script src="./assets/js/script.js"></script>

</body>
</html>