<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Place Info. - Ki-Kothai</title>
  <link rel="shortcut icon" href="./assets/img/logo - favicon.png" type="image/x-icon">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- font-awesome css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <!-- custom css -->
  <link rel="stylesheet" href="./assets/css/style.css">
  <!-- google-font css -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,800|Roboto:400,500,700&display=swap" rel="stylesheet">
</head>
<body>

  <!-- navbar start -->
  <section class="navigation-with-search fixed-top">
    <div class="nav-container">
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="./index.html">
          <img src="./assets/img/logo.png" alt="logo">
        </a>
        <a class="navbar-toggler show-on-sml" onclick="showSearch()"> <i class="fas fa-search"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./offer.html">Offers <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./all-restaurant.html">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./all-food.html">Foods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./all-places.html">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about-us.html">About us</a>
            </li>
            <li class="nav-item hide-on-sml">
              <a class="nav-link" onclick="showSearch()"> <i class="fas fa-search"></i> </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="hidden-search-bar" id="hidden-search-bar">
      <div class="nav-container">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" autofocus>
          <div class="input-group-append">
            <span class="input-group-text cross-btn" onclick="hideSearch()"> <i class="far fa-times-circle"></i> </span>
            <span class="input-group-text srch-btn"> <i class="fas fa-search"></i> </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- navbar end -->
 
  <!-- hero start -->
  <section class="hero-single-place">
    <div class="hero-container">
      <div class="row">
        <div class="col-lg-8">
          <img class="img-fluid place-img" src="./assets/img/all-place-bg.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- hero end -->

  <!-- place description start -->
  <section class="single-place-desc">
    <div class="single-place-container">
      <div class="row">
        <div class="place-info col-12">
          <h4 class="place-name">সুন্দরবন</h4>
          <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <span>খুলনা</span>
          </div>
          <p class="description black-clr-txt">সুন্দরবন (Sundarbans) পৃথিবীর বৃহত্তম ম্যানগ্রোভ বন, UNESCO World Heritage Site. শহরের কোলাহলে আপনি যখন অনেকটাই একঘেয়েমি, ঘুরে আসতে পারেন সুন্দরবন থেকে। কথায় আছে “Talk to the forest because the forest always talks to you”। পুরো বনটিতে রয়েছে সামুদ্রিক স্রোতধারা, ছোট ছোট নদী, খাল-বিল, কাদাযুক্ত চর। নিজ চোখে খোলা পরিবেশেই দেখতে পাবেন বাঘ, হরিন, কুমির, বানর, অজগর সহ বিভিন্ন প্রজাতির পাখি ও সরীসৃপ।</p>
          <h5 class="what-see-heading">সুন্দরবন ট্যুরে যা যা দেখবেন:</h5>
          <p class="what-see black-clr-txt">
            – ভোরে শিপ থেকে নেমে ৩০ মিনিটের মত নির্জন বনের ভিতর ট্রেকিং করে যেতে হবে এই সি বিচে।বনের ভিতর চোখে পড়বে বাঘের পায়ের ছাপ। ২০১৮ সালের বাঘশুমারীর রিপোর্ট অনুযায়ী সুন্দরবনে বাঘের সংখ্যা আনুমানিক ১১৪ টি। ভাগ্য খুব বেশী ভাল না হলে বাঘের দেখা পাওয়াটা দুষ্কর। বিচে এসেই শুরুতেই যেটা নজরে আসবে সেটা হল সিডরে ক্ষতিগ্রস্ত এলাকা। যদিও সেটা এর সৌন্দর্যকে কোনভাবে ঢাকতে পারেনি। মনে হবে “Sometimes disaster brings it’s inner beauty”
          </p>
          <h5 class="how-goto-heading">যেভাবে যাবেন:</h5>
          <p class="how-goto black-clr-txt">
            যারা সুন্দরবনের সকল স্পট ঘুরতে চান এবং গহীন বনের নদীতে রাত্রি যাপন করতে চান, তাঁরা ঢাকা থেকে ভালমানের ট্রেভেল এজেন্সির সাথে যোগাযোগ করে তাদের প্যাকেজগুলো (ঢাকা টু সুন্দরবন) নিতে পারেন। এক্ষেত্রে প্যাকেজ খরচ জনপ্রতি ১০,০০০ থেকে শুরু। অথবা খুলনা যেয়ে শিপের প্যাকেজ নিতে পারেন সেক্ষেত্রে জনপ্রতি ৭৫০০ থেকে শুরু। প্যাকেজ গুলোতে সব কিছুই ইনক্লুড, খাবারও থাকবে ব্যুফে সিস্টেমে। শিপের মধ্যে MV Flamingo, MV Rainbow,MV Oboshor এই গুলো দেখতে পারেন।
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- place description end -->
  
  <!-- footer start -->
  <section class="footer">
    <div class="footer-container">
      <div class="row">
        <div class="col-sm-4 footer-each">
          <h5>Know Us</h5>
          <ul class="un-list">
            <li class=""> <a href="./about-us.html">About Us</a> </li>
            <li class=""> <a href="./terms-condition.html">Terms & Conditions</a> </li>
            <li class=""> <a href="./team-members.html">Team Members</a> </li>
          </ul>
        </div>
        <div class="col-sm-4 footer-each">
          <h5>Contact Us</h5>
          <ul class="un-list">
            <li class=""> Phone: 01804001100 </li>
            <li class=""> Email: mailname@gmail.com </li>
          </ul>
        </div>
        <div class="col-sm-4 footer-each">
          <h5>For Restaurant Owner</h5>
          <ul class="un-list">
            <li class=""> <a href="">My Account</a> </li>
            <li class=""> <a href="">Get New Account</a> </li>
          </ul>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-6">
          <div class="social-icon">
            <a href=""> <i class="fab fa-facebook-square"></i> </a>
            <a href=""> <i class="fab fa-twitter"></i> </a>
            <a href=""> <i class="fab fa-instagram"></i> </a>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <p>&copy; 2020 KiKothay, All rights Reserved</p>
        </div>
      </div>

    </div>
  </section>
  <!-- footer end -->




  <!-- js for bootstrap -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- custom js -->
  <script>
    function showSearch() {
      document.getElementById("hidden-search-bar").style.display = "block";
    }
    function hideSearch() {
      document.getElementById("hidden-search-bar").style.display = "none";
    }
  </script>
</body>
</html>